Repository discord/discord-api-docs, pull requests merged in 2025-05, with the labels that each got.

#7548 Social SDK: Add Social Settings Design Guideline
  docs/discord-social-sdk/design-guidelines.mdx
  docs/discord-social-sdk/design-guidelines/social-settings.mdx
  static/images/social-sdk/design-guidelines/SocialSettings-02.webp
  static/images/social-sdk/design-guidelines/SocialSettings-03.webp
  static/images/social-sdk/design-guidelines/SocialSettings-04.webp
Labels: social-sdk

#7535 Components v2: use valid JSON examples
  docs/components/reference.mdx
Labels: message components

#7507 Updated "Message" and "Webhook" resource page and "Using Message Components" page with the new components v2 behaviour
  docs/components/using-message-components.mdx
  docs/resources/message.mdx
  docs/resources/webhook.mdx
Labels: message components

#7556 Update using-unreal-engine.mdx
  docs/discord-social-sdk/getting-started/using-unreal-engine.mdx
Labels: social-sdk

#7530 Fix syntax errors in code example for Generating a Link in Growth and Referrals
  docs/activities/development-guides/growth-and-referrals.mdx
Labels: embedded-app-sdk

#7560 Components V2 message and followup clarifications
  docs/components/reference.mdx
  docs/interactions/receiving-and-responding.mdx
  docs/resources/message.mdx
Labels: message components

#7564 Update getting started sample with components v2
  docs/quick-start/getting-started.mdx
Labels: message components

#7537 CV2: Add missing limits for alt texts, ID clarifications
  docs/components/reference.mdx
Labels: message components

#7573 Social SDK: Integrating Moderation Guide
  docs/discord-social-sdk/development-guides.mdx
  docs/discord-social-sdk/development-guides/integrating-moderation.mdx
  docs/discord-social-sdk/getting-started/using-unreal-engine.mdx
  static/images/social-sdk/integrating-moderation/message-receiving.svg
  static/images/social-sdk/integrating-moderation/message-sending.svg
  static/images/social-sdk/integrating-moderation/platform-bans.svg
Labels: social-sdk

#7547 Update Embedded App SDK docs with relationship features
  docs/developer-tools/embedded-app-sdk.mdx
Labels: embedded-app-sdk
